<div class="topbar">
  <div class="fill">

   <div class="container">

<h3>
<%= link_to 'Sinaps-it', '#' %>
</h3>
<ul>
<li><%= link_to 'Новости', root_path %></li>
<li><%= link_to 'Услуги', services_path %></li>
<li><%= link_to 'Online-заказ', order_path %></li>
<li><%= link_to 'Контакты', contacts_path %></li>
<li><%= link_to 'Помощь', help_path %></li>
</ul>
<!--maybe make win apps?-->
<ul class="nav secondary-nav">
<li><%= link_to 'Win', '#' %></li>
</ul>
<!--end-->
   </div>
  </div>
</div>

