<div class="topbar">
  <div class="fill">

   <div class="container">

<h3>
<%= link_to 'Sinaps-it', '#' %>
</h3>
<ul>
<li><%= link_to 'Новости', root_path %></li>
<li><%= link_to 'Услуги', '#' %></li>
<li><%= link_to 'online-заказ', '#' %></li>
<li><%= link_to 'Контакты', '#' %></li>
<li><%= link_to 'Помощь', '#' %></li>
</ul>

<ul class="nav secondary-nav">
<li><%= link_to 'Win', '#' %></li>
</ul>
   </div>
  </div>
</div>

